<div id="pay-form-feedback" hx-swap-oob="true">
  <div class="alert alert-danger py-2 px-3 d-flex align-items-center w-100 small" role="alert">
    <div><%= message || 'Tafadhali angalia taarifa ulizoingiza na ujaribu tena.' %></div>
  </div>
</div>
