<div class="p-2">
  <%- include('./payinfo.ejs'); %>

  <div class="mb-3">
    <ol class="list-group list-group-numbered small shadow-sm">
      <li class="list-group-item">Halotel, Piga <strong>*150*88#</strong></li>
      <li class="list-group-item">Chagua Lipia Bidhaa</li>
      <li class="list-group-item">Chagua <strong>Mixx by Yas Lipa</strong></li>
      <li class="list-group-item">Weka lipa namba <strong class="fs-6"><code><%= network?.payCode %></code></strong></li>
      <li class="list-group-item">Kiasi <strong>TSh. <%= amount %></strong></li>
    </ol>
  </div>

  <%- include('./paynote.ejs'); %>
</div>
