<div class="alert alert-warning small mb-2" role="alert">
    Lipa kwa kutumia namba hii hii <b>(<%= phone %>)</b>. Kama pesa ipo kwenye namba tofauti au umekosea namba tafadhali funga na anza upya
</div>
<div class="alert alert-info small mb-0" role="alert">
    Baada ya malipo, muamala wako utathibitishwa moja kwa moja, utapokea ujumbe wa uthibitisho na <strong>VIP Tips</strong> kufunguliwa.
</div>