<div class="alert alert-danger d-flex flex-column align-items-center justify-content-center" role="alert">
  <i class="fa-solid fa-triangle-exclamation"></i>
  <div class="text-start"><%= message || 'Imeshindikana kushughulikia ombi lako. Jaribu tena.' %></div>
</div>
